<article class="flex flex-col items-center justify-center gap-8 md:flex-row"> 
    <div> 
      <p class="mb-4">
        Me llamo Sandra y soy desarrolladora front-end. Mi primer contacto con la programación fue a través del Grado Superior de Desarrollo de Aplicaciones Web, pero mi pasión por el <span class="text-blue-200">diseño limpio y funcional</span> me llevó a ir más allá de lo aprendido en clase.
      </p>
      <p class="mb-4">
        Actualmente trabajo en la <span class="text-blue-200">modernización de aplicaciones bancarias en un entorno corporativo exigente</span>, donde combino metodologías ágiles como Scrum y herramientas como Bitbucket, Jira y Dimensions. Pero también me gusta salir de lo convencional: en mi TFG decidí no seguir lo típico y me lancé a aprender Astro, Tailwind y TypeScript, tecnologías modernas con las que desarrollé una aplicación web desde cero.
      </p>
      <p class="mb-4">
        He trabajado con WordPress, Web Components (LitElement), y <span class="text-blue-200">sigo buscando nuevas formas de crecer</span>, aprendiendo sobre UX Writing e Inbound Recruiting. Además, comparto mi camino y experiencia con la intención de <span class="text-blue-200">inspirar a otras personas</span>, especialmente mujeres, a entrar en el mundo tech.
      </p>
      <p>
        Mi objetivo es claro: <span class="text-blue-200">construir</span> interfaces intuitivas, <span class="text-blue-200">adaptarme</span> a las tecnologías emergentes y <span class="text-blue-200">seguir creciendo</span> en un sector que no para de evolucionar.
      </p>
    </div>
    <img width="200" height="200" src="../../public/me.png" alt="Sandra Muñoz">
  </article>
  