---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Octubre 2024 - Actualmente',
        title:'Desarrollador de Migración e Integración',
        description:'Migración y actualización de aplicaciones bancarias en BBVA, reemplazando URL antiguas por nuevas. Gestión de subidas a entornos integrados con herramientas como Dimensions, Bitbucket y Sourcetree. Documentación detallada del estado de las aplicaciones antes y después de las actualizaciones. Seguimiento de aplicaciones (UUAA) mediante Excel y Jira, garantizando comunicación efectiva con el cliente. Trabajo basado en metodologías ágiles como Scrum y Kanban para planificar y ejecutar actualizaciones.',
        company:'Indra | BBVA'
    },
    {
        date: 'Abril 2024 - Junio 2024',
        title:'Desarrollador Front End',
        description:'Desarrollo de sitios web completos, desde maquetación con HTML, CSS y Bootstrap, hasta funcionalidades con PHP, JavaScript y MySQL. Especializada en gamificación para mejorar la interacción del usuario. Experiencia en mantenimiento web y atención al cliente durante mis prácticas profesionales.',
        company:'Just Game'
    }
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
    {
        EXPERIENCE.map(experience =>(
            <li class="mb-10 ms-4">
                <ExperienceItem {... experience} />
            </li>

        ))
    }
</ol>

