---
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Favicon from "../../public/favicon.svg";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href={Favicon.src} />
</head>
  <body>
    <div class="fixed inset-0 -z-10 min-h-screen w-full [background:radial-gradient(125%_125%_at_50%_10%,#000_50%,#3498db_100%)]"></div>
    <Header />
    <slot />
	<Footer />
  </body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;

	}
	
	body{
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		background: #050505;
		color: rgba(255, 255, 255, 0.8);
	}

	@media (prefers-reduced-motion: reduce){
		html{
			scroll-behavior: auto;
		}
	}
</style>
